@import "./../../node_modules/breakpoint-sass/stylesheets/breakpoint";

$breakpoint-mobile: (max-width 568px) (orientation portrait);
$breakpoint-mobile-landscape: (max-width 568px) (orientation landscape);
$breakpoint-tablet: 569px 1280px;
$breakpoint-desktop: min-width 1281px;

html,body{
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-family: "proxima-nova", sans-serif;
}

#guiContainer, #offscreenIndicatorContainer{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	pointer-events: none;
}


#renderCanvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


.offscreenIndicator{
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
	opacity: 0;
	background-image: url('assets/icons/offscreenIndicator.svg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 30px;
	transition: opacity 0.3s ease-in;
}

#tryAgain, #joinGame, #reconnect{
	position: absolute;
	left: 50%;
	top: 50%;
	opacity: 0;
	pointer-events: none;
	transform: translateX(-50%) translateY(-50%);
}

#joinGame {
	pointer-events: all;
	opacity: 1;
}

button{

	position: relative;
	background-color: rgba(#68b2f8, 0.2);
	padding: 0.2rem 1.8rem 0.1rem 1.8rem;
	margin: 2rem auto;
	font-size: 1.2rem;
	transition: all 0.5s ease-out;
	margin-right: 1.5rem;
	border: 0;
	color: white;
	outline: none;
	white-space: nowrap;

	&:before{
		content: "";
		position: absolute;
		z-index: 10;
		left: -3rem;
		top: -2.4rem;
		width: 6rem;
		height: 7rem;
		background-image: url(assets/images/cta_glow_left.png);
		background-repeat: no-repeat;
		background-position: top;
		background-size: auto;
		pointer-events: none;
	}

	&:after{
		content: "";
		position: absolute;
		z-index: 10;
		right: -3rem;
		top: -2.4rem;
		width: 6rem;
		height: 7rem;
		background-image: url(assets/images/cta_glow_left.png);
		background-repeat: no-repeat;
		background-position: top;
		background-size: auto;
		transform: scaleX(-1);
		pointer-events: none;
	}

	a{
		width: 100%;
		padding: 0.2rem 0.5rem;
		color: #fff;
		transition: all 0.1s ease-in;
	}

	&:hover{
		background: rgba(#68b2f8, 0.4);
		a{
			padding: 0.2rem 0.8rem;
		}
	}
}

.lostGame #tryAgain{
	opacity: 1;
	pointer-events: all;
}


.tutorial .keysContainer{
	&:before, &:after{
		opacity: 1;
	}
}

.hud{
	position: absolute;
	top: 60px;
	left: 0;
	width: 20rem;
    height: 60px;
	font-size: 12px;
	padding: 1rem;
	color: #fff;
	font-family: arial, sans-serif;
	opacity: 0;

	transition: all 0.5s ease-in;
}

.score{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 20rem;
	height: 5rem;
	font-size: 12px;
	padding: 1rem;
	color: #fff;
	font-family: arial, sans-serif;
	opacity: 0;

	transition: all 0.5s ease-in;

	&:before{
		content: "Kills";
		position: absolute;
		top: -1.2rem;
		left: 1rem;
		font-size: 14px;
		font-weight: bold;
		opacity: 0.4;
	}

	.line{
		position: absolute;
		top: 0;
		left: 1rem;
		transition: all 0.2s ease-in;
		transform: translateY(0);
		opacity: 0.3;
	}

	.line.you{
		color: #efff00;
		opacity: 0.4;
	}
}

.keysContainer{
	pointer-events: none;

	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);

	&:before, &:after{
		content: "";
		display: inline-block;
		opacity: 0;
		transition: all 0.5s ease-in;
	}

	&:before{
		margin-right: 3rem;
	}
}

.buttonsContainer{
	pointer-events: all;
	opacity: 0;
    cursor:pointer;

	transition: all 0.5s ease-in;

	background: #fff;
	//width: 10rem;
	height: 3rem;
	position: absolute;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
	//border: 3px solid #ff2f95;
	//border-radius: 1rem;
    border: 1px solid red;

    .skill {
        float: left;
        width: 18px;
        height: 18px;
        padding: 15px;
        border: 1px solid red;
    }
}
.attack{
	&:before{
		content: ":)";
		color: #ff2f95;
		transform: translateX(-50%) translateY(-50%);
	}
}

.shield{
    background-image: url("assets/images/shield.png");
    &:before{
		color: #ff2f45;
		transform: translateX(-50%) translateY(-50%);
	}
}

.heal{
	background-image: url("assets/images/heal.png");
	&:before{
		color: #ff3f95;
		transform: translateX(-50%) translateY(-50%);
	}
}


.pc .keysContainer{
	&:after{
		width: 103px;
		height: 91px;
		background-image: url("assets/images/pc_keys.png");
	}

	&:before{
		width: 175px;
		height: 55px;
		background-image: url("assets/images/pc_space.png");
	}
}

.mac .keysContainer{
	&:after{
		width: 119px;
		height: 64px;
		background-image: url("assets/images/mac_keys.png");
	}

	&:before{
		width: 193px;
		height: 64px;
		background-image: url("assets/images/mac_space.png");
	}
}

h2{
	position: absolute;
	box-sizing: border-box;
	top: 29%;
	font-weight: 300;
	font-size: 25px;
	text-align: center;
	width: 100%;
	color: #fff;
	transition: all 0.5s ease-in;
	padding: 0 3rem;

	@include breakpoint(($breakpoint-desktop)){
		top: 40%;
	}
}

body.gameActive{
	.hud { opacity: 0.3;}
	.hp-bar { opacity: 0.6;}
	.score { opacity: 1;}
    .buttonsContainer { opacity: 0.6;}
	.offscreenIndicator{ opacity: 0.8}
	h2{
		opacity: 0;
	}

	.pixiContainer:before{
		opacity: 0;
	}

	&.touch .fireButton{
	}
}

.disconnected{
	#reconnect{
		opacity: 1;
		pointer-events: all;
	}

	#tryAgain, #joinGame{
		opacity: 0;
		pointer-events: none;
	}
}

/* HP Bar */
.hp-bar {

	position: absolute;
	top: 0px;
	left: 0;
	width: 20rem;
	font-size: 12px;
	padding: 1rem;
	color: #fff;
	font-family: arial, sans-serif;
	opacity: 0;

	transition: all 0.5s ease-in;

    .meter {
        height: 20px;  /* Can be anything */
        position: relative;
        margin: 0;
        background: #555;
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        border-radius: 25px;
        padding: 10px;
        -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
        -moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
        box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
    }
    .meter > span {
        display: block;
        height: 100%;
        -webkit-border-top-right-radius: 8px;
        -webkit-border-bottom-right-radius: 8px;
        -moz-border-radius-topright: 8px;
        -moz-border-radius-bottomright: 8px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        -webkit-border-top-left-radius: 20px;
        -webkit-border-bottom-left-radius: 20px;
        -moz-border-radius-topleft: 20px;
        -moz-border-radius-bottomleft: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        background-color: rgb(43,194,83);
        background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(43,194,83)),
        color-stop(1, rgb(84,240,84))
        );
        background-image: -moz-linear-gradient(
        center bottom,
        rgb(43,194,83) 37%,
        rgb(84,240,84) 69%
        );
        -webkit-box-shadow:
        inset 0 2px 9px  rgba(255,255,255,0.3),
        inset 0 -2px 6px rgba(0,0,0,0.4);
        -moz-box-shadow:
        inset 0 2px 9px  rgba(255,255,255,0.3),
        inset 0 -2px 6px rgba(0,0,0,0.4);
        box-shadow:
        inset 0 2px 9px  rgba(255,255,255,0.3),
        inset 0 -2px 6px rgba(0,0,0,0.4);
        position: relative;
        overflow: hidden;
    }
    .meter > span:after, .animate > span > span {
        content: "";
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        background-image:
        -webkit-gradient(linear, 0 0, 100% 100%,
        color-stop(.25, rgba(255, 255, 255, .2)),
        color-stop(.25, transparent), color-stop(.5, transparent),
        color-stop(.5, rgba(255, 255, 255, .2)),
        color-stop(.75, rgba(255, 255, 255, .2)),
        color-stop(.75, transparent), to(transparent)
        );
        background-image:
        -moz-linear-gradient(
        -45deg,
        rgba(255, 255, 255, .2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, .2) 50%,
        rgba(255, 255, 255, .2) 75%,
        transparent 75%,
        transparent
        );
        z-index: 1;
        -webkit-background-size: 50px 50px;
        -moz-background-size: 50px 50px;
        -webkit-animation: move 2s linear infinite;
        -webkit-border-top-right-radius: 8px;
        -webkit-border-bottom-right-radius: 8px;
        -moz-border-radius-topright: 8px;
        -moz-border-radius-bottomright: 8px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        -webkit-border-top-left-radius: 20px;
        -webkit-border-bottom-left-radius: 20px;
        -moz-border-radius-topleft: 20px;
        -moz-border-radius-bottomleft: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        overflow: hidden;
    }

    .animate > span:after {
        display: none;
    }

    @-webkit-keyframes move {
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: 50px 50px;
        }
    }

    .orange > span {
        background-color: #f1a165;
        background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
        background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));
        background-image: -webkit-linear-gradient(#f1a165, #f36d0a);
    }

    .green > span {
        background-color: green;
        background-image: -moz-linear-gradient(top, green, dark-green);
        background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, green),color-stop(1, dark-green));
        background-image: -webkit-linear-gradient(green, dark-green);
    }

    .nostripes > span > span, .nostripes > span:after {
        -webkit-animation: none;
        background-image: none;
    }
}
